.rating_theme_yandex-task
	line-height: 16px

	.rating__stars
		width: 88px
		height: 16px
		background: url('stars.png') 0 -16px no-repeat

	.rating__control
		height: 16px
		width: 88px

	.rating__stars_showing
		background-position: 0 0
		width: 0

	.rating__stars_value_05
		width: 8px

	.rating__stars_value_10
		width: 16px

	.rating__stars_value_15
		width: 26px

	.rating__stars_value_20
		width: 34px

	.rating__stars_value_25
		width: 44px

	.rating__stars_value_30
		width: 52px

	.rating__stars_value_35
		width: 62px

	.rating__stars_value_40
		width: 70px

	.rating__stars_value_45
		width: 80px

	.rating__stars_value_50
		width: 88px

	.radio-option_type_rating
		width:  (88/5)px